<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>form</title>
  </head>
  <body>
    <form action="/busqueda" method="post">
      <label>Buscar Pelicula: <input type="text" name="busqueda" placeholder="pelicula"></label>

    </form>
    <form action="/resultados" method="post">
      <label>Buscar Resultados: <input type="text" name="resultados" placeholder="pelicula"></label>

    </form>
  </body>
</html>
