<%- include header.ejs %>

<div class="content">
  <h1>Hola <%= nombre%> aquí comienza tu aventura!</h1>
  <h3><a href="/<%= nombre%>/pokemons">Elije tu pokemon</a></h3>
</div>


<%- include footer.ejs %>
