<%- include header.ejs %>
  <div class="content">

    <form action="/" method="post">
      <label>Ingresa tu nombre: <input type="text" name="nombre" placeholder="nombre"></label>

  </div>

  <%- include footer.ejs %>
