<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Esta pelicula es solo para adultos</h1>
    <p> desea continuar? </p>

    <% console.log(data.Title) %>
    <a href="/adult/<%= data.Title %>" ><button >See</button></a><a href="http://2.bp.blogspot.com/_ld40V6wv63Q/SmTdlBtj4TI/AAAAAAAAAGI/-wVpKFRfqcs/s320/divino.jpg"><button>No</button></a>
  </body>
</html>
