<!DOCTYPE html>
<html>
<head>
    <title>Proyecto EJS - OMDB API</title>
</head>
<body>
    <h1>Bienvenido al buscador (casero) de OMDB!</h1>
    <p>Escribe el nombre de una pelicula para buscar sus datos</p>
    <form class="" action="/" method="post">
      <input type="text" name="titulo" value="" placeholder="Titulo">
      <select name="tipo">
      	<option value="movie">Pelicula</option>
      	<option value="series">Serie</option>
      </select>
      <button>Buscar!</button>
    </form>
</body>
</html>
