<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Autentication module of destruction</h1>
    <p>Welcome to HELL</p>
  </body>
</html>
