<%- include header.ejs %>

    <h1>Hola <%= nombre%> Aquí comienza tu aventuraaaaaaaaaaaaaaaaaaaaaaaa!</h1>
    <h3><a href="/<%= nombre%>/pokemons">Elije tu pokemon</a></h3>

<%- include footer.ejs %>
